---
import BackToTopButton from "../widget/BackToTopButton.astro";
---

<div class="w-full shadow-xl rounded-xl">
  <div
    class="grid grid-cols-1 justify-center w-full p-2 border bg-base-100 rounded-xl"
    id="button-box"
  >
    <BackToTopButton id="back-button" className="card" />
  </div>
</div>
